{% extends "default.html" %}
{% set page = 2 %}

{% block content %}
<div class="container">
    <h1 class="mt-5">О нас</h1>
    <p class="lead">Сфера технологий нейронных сетей крайне быстро развивается, но всё еще сложна для использования
        обычными пользователями, так как установка и использование требует определенных навыков.
        <br>Мы решили создать <b>универсальный</b> интерфейс для взаимодействия с нейронными сетями обработки фото,
        где разработчики смогут быстро подключать свои, а другие люди использовать.</p>
</div>
{% endblock %}