{% extends "default.html" %}

{% block content %}
<div class="container">
    <div class="d-flex">
        <div>
            {% autoescape false %}
            <h1 class="mt-5">{{data['title']}}</h1>
            <p class="lead">{{data['description']}}</p>
            {% endautoescape %}
            <form action="" method="post" novalidate enctype="multipart/form-data"
                  class="flex-column d-flex">
                <div>
                    {{ form.csrf_token }}
                </div>
                {% for field in form if field.name not in 'csrf_token submit' %}
                <div class="col-xs-4">
                    <label>{{ field.label() }}</label> <br/>
                    {{ field(class="form-control mb-4") }}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <h5 class="text-warning">{{message}}</h5>
                {{ form.submit(type="submit", class="btn btn-warning") }}
            </form>
        </div>
        <img class="container w-25 me-0" src="{{ url_for('static', filename=data['icon'])}}">
    </div>
    {% include "processing_log.html"  %}


</div>
{% endblock %}