{% extends "default.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-3">Профиль</h1>
    <p>Всего обработано фото: {{processes|length}}</p>
    {% autoescape false %}
    <div class="mb-3">Права разработчика: {{'
        <div class="d-inline text-success"> Да</div>
        ' if current_user.is_admin else '
        <div class="d-inline text-danger">Нет</div>
        '}}
    </div>
    {{'<a href="/catalog" class="btn btn-success">Добавить обработчик</a>' if current_user.is_admin else '<p>Получите <b>права разработчика</b>, чтобы иметь возможность добавлять обработчики!</p>'}}
    {% endautoescape %}
    <a href="/logout" class="btn btn-danger">Выйти</a>
    {% include "processing_log.html" %}
</div>
{% endblock %}